* {
  margin: 0;
  padding: 0;
}

body {
  /* background-color: rgb(43, 43, 43); */
  background-color: rgb(228, 228, 228);
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#app {
  display: grid;
  place-content: center;
}

.btn {
  padding: 0.8em 2em;
  border: none;
  border-radius: 1em;
  cursor: pointer;
  color: #ffffff;
}

.danger-btn {
  background-color: rgb(194, 15, 15);
}

.green-btn {
  background-color: rgb(25, 151, 25);
}

header {
  padding: 4em 3em;
}

header font {
  font-size: 2em;
  font-weight: bold;
}
/* end of header styles */

main {
  padding: 2em 2em;
}

#add {
  display: block;
}

main form {
  border: 1px solid #7e7e7e;
  border-radius: 5px;
  padding: 1.5rem;
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  box-sizing: border-box;
}

main form .input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main form input {
  padding: 0.5rem 0;
  background-color: transparent;
  color: #000000;
  border: none;
  border-bottom: 2px solid #4d4c4c;
  outline: none;
  transition: all 0.3s;
  width: 50%;
}

main form button {
  width: 100%;
  border-radius: 0 !important;
}

main form input:focus {
  border-bottom: 2px solid rgb(25, 151, 25);
  width: 100%;
}

main form input[type="text"] {
  margin-top: 5px;
}

main form input::placeholder {
  color: rgb(100, 100, 100);
}

table {
  margin-top: 2em;
  width: 800px;
  text-align: center;
  border-spacing: 0;
}

table thead tr {
  color: #ffffff;
  background-color: #4d4c4c;
}

table tbody tr:nth-child(odd) {
  background-color: #818181;
  color: #000000;
}

table tbody tr:nth-child(even) {
  background-color: rgb(77, 76, 76);
  color: #ffffff;
}

th:not(tr th:last-child),
td:not(tr td:last-child) {
  border-right: 1px solid rgba(43, 43, 43, 0.8);
}

th:not(tr:nth-child(1)),
td:not(tr:nth-child(1)) {
  padding: 1em;
}
